@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Dosis:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
}

/*NavBar*/

.navbar .container {
  padding: 10;
}
.container .symbol{
  color: #088178;
}
.collapse {
  justify-content: end;
  color: white;
}
.navbar.navbar-dark .nav-link:hover,
.navbar.navbar-dark .nav-link.active {
  border-color: #fff;
}
.navbar {
  position: sticky;
  z-index: 99;
  padding: 0;
  top: 0;
  background-color: white;
  border-bottom:2px solid #088178 ;
}
.nav-item{
  list-style: none;
  padding: 0 20px;
}
.nav-link {
  color: white !important;
  transition: all 0.5s;
  margin-left: 30px;
  border: 2px solid transparent;
  font-size: 18px;
}
.nav-link:hover {
  color: #088178 !important;
}
.navbar a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  color: #1a1a1a;
  padding: 10px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}
.nav-link{
  color: #000 !important;
  text-decoration: none !important;
  font-size: 25px !important;
  font-family: 'Dosis', sans-serif;
  font-weight: 500 !important;
  padding: 10px !important;
  transition: all 0.5s ease-in-out !important;
}
.navbar-brand {
  font-size: 30px;
}

.navbar a:hover {
  color: white;
  color: #088178;
}

.navbar nav #nav_bar .icn{
  color: #088178;
  padding-left: 20px;
  width: 200px !important;
}
.navbar .navbar-collapse .navbar-nav i{
  color: #088178;
}
.navbar #navbarNav .navbar-nav input{
  padding:1px 1px 1px 1px;
  width: 25px;
  border: none;
}
.navbar #navbarNav .navbar-nav input {
  color: #088178;
  font-weight: 700;
  font-size: 12px;
  padding-left: 5px;
}



/*Home With Slider*/


#slider{
  width:100% !important;
  margin:0 auto;
  position:relative;
  overflow:hidden;
  box-shadow:2px 5px 10px rgba(0,0,0,0.4);;
}
.slide{
  width:100%;
  display:none;
  animation-name:fade;
  animation-duration:1s;
  
}
img{
 width:100%; 
}
.types{
  position: absolute;
  top: 20%;
  left: 10%;
}
.types h2{
  font-size: 70px;
  color: #000000;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}
.types p{
  font-size: 30px;
  color: #000000;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
}
.types button{
  color: white;
  background-color: #088178;
  padding: 10px 15px;
  font-weight: 600;
  border: #088178;
  border-radius: 5px;
}
.types button:hover{
  color: #088178;
  background-color: white;
  padding: 10px 15px;
  font-weight: 700;
  border:1px solid #088178;
  border-radius: 5px;
}
@keyframes fade{
  from{opacity:0.5;}
  to{opacity:1;}
}
.controls{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  font-size:1.5em;
  padding:15px 10px;
  border-radius:5px;
  
}
.controls:hover{
  background:white;
  transition:0.3s;
}
.controls:active{
  color:grey;
}
#left-arrow{
  left:10px;
  color: #088178;
}
#right-arrow{
  right:10px;
  color: #088178;

}
.par{
  position:absolute;
  color: #088178;
  top:150px;
  left: 200px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  transform:translateY(-50%);
  font-size:35px;
  padding:15px 10px;
  border-radius:5px;
}
#dots-con{
  text-align:center;
}
#dots-con .dot{
  display:inline-block;
  background:grey;
  padding:8px;
  border-radius:50%;
  margin:10px 5px;
}
#slider.active{
  background: #088178;
}


/*Categories*/



.wrapper1 {
  width: 100%;
  top: 200px;
}
#buttons1{
  margin-top: 50px;
}
.wrapper1 h2{
  font-size: 30px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  margin-top: 50px;
  color: rgb(36, 33, 33);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper1 .ctg{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button-value {
  border: 2px solid #088178;
  padding: 1em 2.2em;
  font-family: 'Dosis', sans-serif;
  border-radius: 2em;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.button-value:hover {
  border: 2px solid #088178;
  background: #44cabf;
  padding: 1em 2.2em;
  font-family: 'Dosis', sans-serif;
  border-radius: 3em;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
#products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
}
.parent-1{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.parent-2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
.column {
  float: left;
  padding: 0 10px;
  justify-content: center;
}
.card {
  background-color: #ffffff;
  width: 200px !important;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 25px;
  border: 1px solid lightgray;
  box-shadow: 1em 1em 2.5em rgba(3, 253, 99, 0.08);
  justify-content: center;
}
.image-container {
  text-align: center;
  max-width: 200px !important;
}
.photo{
  max-width: 100%;
  object-fit: contain; 
  height: 15em;
}
.container1 {
  padding-top: 1em;
  color: #110f29;
  max-width: 200px !important;
}
.container1 h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Dosis', sans-serif;
}
.container1 h6 {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Dosis', sans-serif;
}
.container1 button{
  padding: 10px 20px;
  background-color: #088178;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.875rem;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 45px;
  display: flex;
  padding: 10px 20px;
  font-family: 'Dosis', sans-serif;
}
.container1 button:hover{
  font-size: 15px;
  background-color: white;
  color: #088178;
  border: 2px solid #088178;
  border-radius: 5px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}
.container1 i{
  display: flex;
  color: #088178;
  font-size: 20px;
}
.hide {
  display: none;
} 



/*Service*/



.section-p1{
    padding:40px 80px;
}
#service{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#service .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin:15px;
}
#service .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#service .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#service .fe-box h5{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #f8b8c6;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 17px;
}
#service .fe-box:nth-child(2) h5{
    background-color:#8bf84c ;
}
#service .fe-box:nth-child(3) h5{
    background-color:#ee7fee ;
}
#service .fe-box:nth-child(4) h5{
    background-color:#eca762 ;
}
.fe-box h5{
  font-size: 15px;
  font-family: 'Dosis', sans-serif;
}



/*News*/



#news {
  margin-bottom: 250px;
}
.news-heading p {
  text-align: center;
  font-size: 18px;
  color: var(--primary-color);
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 70px;
}
.news-heading h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: var(--light-black);
}
.l-news {
  padding-top: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.l-news img {
  height: 200px;
  width: 300px;
}
.l-news1 {
  position: relative;
  width: 280px;
  height: 230px;
}
.l-news1 .news1-conte {
  position: absolute;
  bottom: -60%;
  left: 7%;
  background: var(--white);
  padding: 25px;
}
.l-news2 {
  position: relative;
  width: 280px;
  height: 230px;
}
.l-news2 .news2-conte {
  position: absolute;
  bottom: -60%;
  left: 7%;
  background: var(--white);
  padding: 25px;
}
.l-news3 {
  position: relative;
  width: 280px;
  height: 230px;
}
.l-news3 .news3-conte {
  position: absolute;
  bottom: -60%;
  left: 7%;
  background: var(--white);
  padding: 25px;
}
.l-news1 .news1-conte .date-news1 p {
  color: var(--light-black);
  text-align: center;
  padding: 15px 0;
}
.l-news1 .news1-conte .date-news1 h4 {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 15px;
}
.l-news1 .news1-conte .date-news1 a {
  text-decoration: none;
  text-align: center;
  padding: 0 50px;
  color: var(--primary-color);
  position: relative;
  font-weight: 600;
}
.l-news1 .news1-conte .date-news1 a::after {
  content: "";
  position: absolute;
  background: #088178;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.l-news1 .news1-conte .date-news1 a:hover:after {
  width: 0%;
}
.l-news1 .news1-conte .date-news1 a:hover {
  color: var(--black);
}
.l-news2 .news2-conte .date-news2 p {
  color: var(--light-black);
  text-align: center;
  padding: 15px 0;
}
.l-news2 .news2-conte .date-news2 h4 {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 15px;
}
.l-news2 .news2-conte .date-news2 a {
  text-decoration: none;
  text-align: center;
  padding: 0 60px;
  color: var(--primary-color);
  position: relative;
  font-weight: 600;
}
.l-news2 .news2-conte .date-news2 a::after {
  content: "";
  position: absolute;
  background: #088178;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.l-news2 .news2-conte .date-news2 a:hover:after {
  width: 0%;
}
.l-news2 .news2-conte .date-news2 a:hover {
  color: var(--black);
}
.l-news3 .news3-conte .date-news3 p {
  color: var(--light-black);
  text-align: center;
  padding: 15px 0;
}
.l-news3 .news3-conte .date-news3 h4 {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  padding-bottom: 15px;
}
.l-news3 .news3-conte .date-news3 a {
  text-decoration: none;
  text-align: center;
  padding: 0 60px;
  color: var(--primary-color);
  position: relative;
  font-weight: 600;
}
.l-news3 .news3-conte .date-news3 a::after {
  content: "";
  position: absolute;
  background: #088178;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.l-news3 .news3-conte .date-news3 a:hover:after {
  width: 0%;
}
.l-news3 .news3-conte .date-news3 a:hover {
  color: var(--black);
}


/*Testimonials*/



.testimonials{
  padding: 40px 0;
  background: white;
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.inner h1{
  font-size: 25px;
  color: #000;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
}
.border{
  width: 130px;
  height: 5px;
  background: #088178;
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 30px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
  font-family: 'Dosis', sans-serif;

}
.stars{
  color: #6ab04c;
  margin-bottom: 20px;
  font-family: 'Dosis', sans-serif;
}
.testimonials p{
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
}



/*Footer*/



.footer-container {
  background-color: #088178;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #E8EEF2;
  align-items: baseline;
  list-style-type: none;
}
.footer-container .list-inline{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container i {
  font-size: 30px;
  margin: 10px 20px;
  color: #E8EEF2;
}
.fa-facebook:hover {
  color: #4067A9;
  transition-duration: 1s;
}
.fa-twitter:hover {
  color: #1DA1F2;
  transition-duration: 1s;
}
.fa-youtube:hover {
  color: #CB504A;
  transition-duration: 1s;
}
.fa-github:hover {
  color: #657C8A;
  transition-duration: 1s;
}
.fa-linkedin:hover {
  color: #1085BA;
  transition-duration: 1s;
}
.footer-container li {
  margin: 10px auto;
}



/*About*/



.about-header{
  background-image: url("banner1.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
.about-header h2{
  font-size: 50px;
  font-weight: 500;
  font-family: 'Dosis', sans-serif;
  color: white;
}
.about-header p{
  font-size: 20px;
  font-weight: 400;
  font-family: 'Dosis', sans-serif;
  color: rgb(214, 214, 214);
}
.p-2{
  flex-basis: 50%;
}
.p-3{
  flex-basis: 50%;
}
.section-p1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.p-2 img{
  width: 100%;
  height: auto;
}
.section-p1 div{
  padding-left: 40px;
}
.section-p1 h2{
  font-size: 35px;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
}
.section-p1 p,abbr{
  font-size: 15px;
  color: #857676;
  font-weight: 500;
  font-family: 'Dosis', sans-serif;
}
.contact-us .p-1{
  background-image: url("banner1.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
.p-1 h2{
  font-size: 50px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  color: white;
}
.p-1 p{
  font-size: 20px;
  font-weight: 400;
  color: rgb(214, 214, 214);
  font-family: 'Dosis', sans-serif;
} 


/*Contact*/



form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 80px;
  border: 2px solid #e1e1e1;
}
.contact-us form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us form h2{
  font-size: 26px;
  color: #088178;
  font-weight: 700;
  line-height: 35px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px 0;
  font-family: 'Dosis', sans-serif;

}
.contact-us form span{
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  color: #088178;
  font-weight: 700;
  line-height: 35px;
}
.contact-us form input{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
.contact-us form button{
  background-color: #088178;
  color: #fff;
  padding: 12px;
  color: white;
  border-radius: 5px;
  border: 3px solid #088178;
}
.contact-us form .font-size{
  font-size: 20px;
  font-weight: 500;
}
.testimonials .inner h1{
  font-size: 35px;
  font-weight: 600;
  color: rgb(22, 20, 20);
  font-family: 'Dosis', sans-serif;

}
.testimonials .testimonial h3{
  font-size: 17px;
  color: #088178;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;

}


/*Form*/


#form h2{
  font-size: 30px;
  color: #088178;
}
#form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px;
  border: 2px solid #e1e1e1;
}
#form input{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form label{
  font-size: 20px;

}
small{
  display: none;
}
#form button{
  background-color: #088178;
  color: #fff;
  padding: 12px;
  color: white;
  border-radius: 5px;
  border: 3px solid #088178;
}
.form-control{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Line Between Sections*/

.line{
  color: #088178;
}

/*Back Top Arrow*/


.up{
  font-size: 25px;
  color: #088178;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 50px;
  margin-bottom: 20px;
}
.up:hover{
  color: rgb(36, 139, 36);
}


/*Media Query*/


@media (max-width:320px){
  #service .fe-box{
    margin: 0px;
  }
  .contact-us form input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
  }
  .footer-container i{
    font-size: 30px;
    margin: 10px;
    color: #E8EEF2;
  }
  #service .fe-box{
    margin: 0px;
  }
  #form input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
  }
  .footer-container i{
    font-size: 30px;
    margin: 10px;
    color: #E8EEF2;
  }
  .l-news {
      display: flex;
      flex-direction: column;
      margin-right: 70px;
  }
  .l-news .l-news1,
  .l-news .l-news2,
  .l-news .l-news3 {
      margin-right: 25px;
      margin-bottom: 200px;
  }
  .button-value{
    padding: 8px 15px;
  }
  .navbar a{
    font-size: 25px;
  }
  .row{
    margin-left: 0;
  }
  .types h2{
    font-size: 20px !important;
    color: #000000 !important;
    font-family: 'Dosis', sans-serif !important;
    font-weight: 700 !important;
    margin-left: 20px !important;
  }
  .types p{
    font-size: 12px !important;
    color: #000000 !important;
    font-family: 'Dosis', sans-serif !important;
    font-weight: 800 !important;
    margin-left: 20px !important;
  }
  .types button{
    color: white;
    background-color: #088178;
    padding: 2px 5px;
    font-weight: 600;
    border: #088178;
    border-radius: 5px;
    margin-left: 20px;
  }
}
@media (max-width:375px){
  .row{
    margin-left: 0;
  }
  .section-p1{
    flex-direction: column;
  }
  .section-p1 img{
    width: 100%;
  }
  .p-2{
    flex-basis: 100%;
  }
  .p-3{
    flex-basis: 100%;
  }
  .types h2{
    font-size: 30px !important;
    color: #000000;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    margin-left: 20px;
  }
  .types p{
    font-size: 18px !important;
    color: #000000;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    margin-left: 20px;
  }
  .types button{
    color: white;
    background-color: #088178;
    padding: 3px 8px;
    font-weight: 600;
    border: #088178;
    border-radius: 5px;
    margin-left: 20px;
  }
}

@media (max-width:425px){
  form{
    width: 80%;
  }
  .contact-us form input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
  }
  .footer-container i{
    font-size: 30px;
    margin: 10px;
    color: #E8EEF2;
  }
  form{
    width: 80%;
  }
  #form input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
  }
  .footer-container i{
    font-size: 30px;
    margin: 10px;
    color: #E8EEF2;
  }
  .button-value{
    padding: 10px 20px;
  }
  .row{
    margin-left: 0;
  }
  .section-p1{
    flex-direction: column;
  }
  .section-p1 img{
    width: 100% !important;
  }
  .p-2{
    flex-basis: 100%;
  }
  .p-3{
    flex-basis: 100%;
  }
  .types h2{
    font-size: 40px;
    color: #000000;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    margin-left: 20px;
  }
  .types p{
    font-size: 20px;
    color: #000000;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    margin-left: 20px;
  }
  .types button{
    color: white;
    background-color: #088178;
    padding: 5px 10px;
    font-weight: 600;
    border: #088178;
    border-radius: 5px;
    margin-left: 20px;
  }
}
@media (max-width:768px){
  form{
    width: 100%;
  }
  .l-news {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
  }
  .l-news .l-news1,
  .l-news .l-news2 {
      margin-bottom: 200px;
  }
}
@media (max-width: 500px) {
  .l-news {
      display: flex;
      flex-direction: column;
      margin-right: 30px;
  }
  .l-news .l-news1,
  .l-news .l-news2 {
      margin-bottom: 200px;
  }
  .row{
    margin-left: 10px;
  }
}
@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}